<ion-content transparent background-size
  [ngStyle]="{ 'background-image': 'linear-gradient(0deg, #0566a0 0%, #81d8ff 100%)' }">
  <ion-grid padding>
    <ion-row align-items-center>
      <ion-col background-white margin-top margin-bottom border-radius box-shadow padding size="12" size-md="10"
        push-md="1" class="animated fadeInUp">
        <form #loginForm="ngForm">
          <ion-img margin-top src="./../assets/imgs/tcl.png"></ion-img>
          <!---Input field username-->

          <div *ngIf="!isAccountIDVerified">
            <ion-item no-padding transparent input>
              <ion-label [color]="accountId.touched && !accountId.valid ? 'danger' : 'primary'" text-size-xs
                position="floating">
                Account ID*</ion-label>
              <ion-input #accountId="ngModel" name="accountId" required type="text"
                (keypress)="onKeyPress($event.keyCode, loginForm)" [(ngModel)]="companyCode"></ion-input>
            </ion-item>
            <div clearfix></div>
            <br />
            <div style="text-align: center">
              <ion-label *ngIf="accountId.touched && !accountId.valid" color="danger">Account ID cannot be empty!
              </ion-label><br>
            </div>
            <ion-row margin-top>
              <ion-col size="6" offset="3" no-padding>
                <ion-button (click)="getCompanyDetails()" [disabled]="!companyCode" button-round shape="round" expand="full" fill="outline">
                  Login</ion-button>
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="isAccountIDVerified">
            <ion-item no-padding transparent input>
              <ion-label [color]="email.touched && !email.valid ? 'danger' : 'primary'" text-size-xs
                position="floating">
                Username*</ion-label>
              <ion-input #email="ngModel" name="email" required type="text"
                (keypress)="onKeyPress($event.keyCode, loginForm)" [(ngModel)]="data.username"></ion-input>
            </ion-item>
            <!---Input field password-->
            <ion-item no-padding transparent input>
              <ion-label [color]="
                  password.touched && !password.valid ? 'danger' : 'primary'
                " text-size-xs position="floating">Password*</ion-label>
              <ion-input #password="ngModel" name="password" (keypress)="onKeyPress($event.keyCode, loginForm)" required
                [type]="passwordType || 'password'" [(ngModel)]="data.password"></ion-input>
              <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordType()">
                <ion-icon [name]="passwordType === 'text' ? 'eye' : 'eye-off'">
                </ion-icon>
              </ion-button>
            </ion-item>
            <div clearfix></div>
            <br />
            <div style="text-align: center">
              <ion-label *ngIf="email.touched && !email.valid
              " color="danger">Username cannot be empty!</ion-label><br>
              <ion-label *ngIf="password.touched && !password.valid" color="danger">Password cannot be empty!
              </ion-label>
            </div>
            <ion-row margin-top>
              <ion-col size="6" offset="3" no-padding>
                <ion-button (click)="onSubmit(loginForm)" [disabled]="loginForm.invalid" button-round shape="round"
                  expand="full" fill="outline">Login</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </form>
      </ion-col>
      <!---End Share Section-->
    </ion-row>
  </ion-grid>
  <div class="branding">
    <p>Powered by SmartDocs Inc. &reg;</p>
  </div>
</ion-content>