:host-context() {
    --img-logo: 80px;
  }
  
  ion-grid,
  ion-row {
    height: 100%;
  }
  
  
  ion-img {
    width: 150px;
    text-align: center;
    margin: 0 auto;
  }
  
  ion-item {
    ion-input {
      --padding-end: 8px;
    }
   ion-icon {
     position: absolute;
     right: 0;
     bottom: 8px
    }
  }
  
  [background-size] {
    position: relative;
    background-color: var(--cs-text-primary, #ffffff);
    background-blend-mode: luminosity;
  
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: var(--cs-mode-image);
      background: var(--cs-gradient-linear);
    }
  }
  
  .branding {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }