<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="is-empty-state-content" *ngIf="requests.length == 0">
        <img src="assets/imgs/empty-tasks-4.png" />
        <h3>Nothing In Inbox</h3>
      </div>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12" size-lg="6" offset-lg="3">
        <ion-card *ngFor='let request of requests; index as i' color="{{global.getColorClass(i)}}" box-shadow class="ion-text-start" padding-bottom [routerLink]="'/tabs/inbox/'+request.requestType">
          <ion-card-header>
            <ion-card-title>
              {{request.displayName}}
            </ion-card-title>
            <ion-card-subtitle>
              {{request.description}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" color="{{global.getColorClass(i)}}">
              <ion-label slot="end">Pending Items: <ion-note >{{request.total}}</ion-note></ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
