/*  # Time Line -- Timeline With Comments
===========================================*/

ion-card {
    overflow: visible;
    position: relative;

    ion-item {
      --background: transparent;
    }

    &:after {
      content: "";
      width: 2px;
      background-color: gray;
      top: 20px;
      left: -20px;
      bottom: -30px;
      position: absolute;
    }

    &:before {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: var(--cs-background-accent, #0090d0);
      top: 19px;
      left: -26px;
      position: absolute;
      z-index: 999;
    }
}

ion-col > ion-card:last-child {
    &:after {
    display: none;
    }
}

.is-empty-state-content {
  width: 100%;
  text-align:center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20vh;

  img {
    width: 55%;
    max-width: 370px;
  }
}
