<ion-header>
  <ion-toolbar>
    <ion-title>Invoice Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" position="floating">Invoice No.</ion-label>
    <ion-input [readonly]="true" [value]="requestData.requestId"></ion-input>
  </ion-item>

  <ion-segment mode="md" (ionChange)="segmentValue = $event.target.value;">
    <ion-segment-button mode="md" value="logs" checked>
      <ion-label>Logs</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="attachments">
      <ion-label>Attachments</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid no-padding *ngIf="segmentValue === 'logs'">
    <ion-row>
      <ion-col size="11" offset="1">
        <!-- Cards -->
        <ion-card padding *ngFor="let log of requestData.logs">

          <span span-small font-bold>{{global.getPortalDate(log.endDate)}}</span><br>
          <span font-bold>{{log.currAgent}}</span>
          <ion-item transparent no-padding margin-top lines="none">
            <ion-avatar slot="start">
              <img src="./../../../../../../assets/imgs/user.png">
            </ion-avatar>
            <ion-label>
              <h2 text-size-xs>{{log.actualUser}}</h2>
              <h3 text-size-sm>{{log.activityText}}</h3>
              <div clearfix></div>
            </ion-label>
          </ion-item>
          <ion-card-content no-padding>
            <p text-size-p text-wrap padding-top>{{log.comments}}</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding *ngIf="segmentValue === 'attachments'">
    <ion-row>
      <ion-col size="12" no-padding>
        <div class="is-empty-state-content" *ngIf="requestData.attachments.length == 0">
          <img src="assets/imgs/empty-tasks-4.png" />
          <h3>No Attachments</h3>
        </div>
        <ion-list lines="none" padding>
          <ion-item style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)" margin-top
            *ngFor="let attachment of requestData.attachments" (click)="onAttachmentOpen(attachment)">
            <ion-avatar slot="start">
              <ion-icon [name]="global.getAttachmentIcon(attachment.mimeType)" color="primary" style="zoom: 3.0">
              </ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>{{attachment.fileName}}</h3>
              <h3 text-size-sm font-bold style="color: #3880FF">{{global.getPortalDate(attachment.createDate)}}</h3>
              <p text-size-p text-wrap padding-top>
                Created By: {{attachment.creator}}
              </p>
            </ion-label>
          </ion-item>

          <br>

          <ion-row *ngIf="requestData.component === 'inbox'">
            <ion-col size="6">
              <input id="fileUpload" type="file" (change)="onSelectFile($event)" multiple="multiple" hidden />
              <ion-button (click)="chooseFiles()" size="small" shape="round" expand="full" fill="outline">Upload
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" shape="round" expand="full" fill="outline" (click)="onTakeImage()">Take A Photo
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-list>
            <ion-list-header *ngIf="attachments.length > 0 || images.length > 0">
              <ion-label>Uploaded Attachments</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let file of attachments; index as i" [ngSwitch]="file.type">
              <ion-icon *ngSwitchCase="'image/png'" name="image" color="primary"></ion-icon>
              <ion-icon *ngSwitchCase="'text/plain'" name="text" color="primary"></ion-icon>
              <ion-icon *ngSwitchCase="'text/html'" name="logo-html5" color="primary"></ion-icon>
              <ion-icon *ngSwitchDefault name="link" color="primary"></ion-icon>
              <ion-label>{{ file.name.substring(0, 15) }} -
                {{ getBytesConversion(file.size) }} <ion-icon color="danger" name="close"
                  (click)="onRemoveAttachment(i)"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item *ngFor="let file of images; index as i">
              <ion-icon name="image" color="primary"></ion-icon>
              <ion-label>{{ file.name.substring(0, 15) }}... -
                {{ getBytesConversion(file.image.size) }} <ion-icon color="danger" name="close"
                  (click)="onRemoveImage(i)"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" (click)="modalController.dismiss({data: [attachments, images]})">Back
  </ion-button>
</ion-footer>