<ion-content>
  <img *ngIf="isImage" style="width: 100%; height: 100%" [src]="imageUrl">
  <iframe *ngIf="!isImage" style="width: 100%; height: 100%" [src]="fileUrl"></iframe>
</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" (click)="modalController.dismiss()">Back</ion-button>
</ion-footer>
