<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col size="12">
      <ion-card padding text-center>
        <ion-avatar slot="start" class="is-icon-avatar background">
          <ion-icon name="person" style="zoom: 3.0"></ion-icon>
        </ion-avatar>
        <ion-card-content>
          <h1 text-size-lg>{{userDetails.firstName}} {{userDetails.lastName}}</h1>
          <p text-size-p>{{userDetails.email}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>

  <ion-list>
      <ion-item button (click)="onLogout()">
        <ion-avatar slot="start" class="is-icon-avatar background">
          <ion-icon name="log-out"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Logout</h2>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>