:host-context(){
    --cs-size-avatar: 120px;
  }
  
  ion-card {
    // Settings Avatar
    ion-avatar {
      height: var(--cs-size-avatar);
      width: var(--cs-size-avatar);
      margin: 0 auto;
    }
  }
  
  ion-button {
    .active {
      color: var(--cs-icon-color-primary, #00c0e8) !important;
    }
  }

  ion-avatar.is-icon-avatar {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3880FF;

    ion-icon {
      color: white;
      font-size: 1.5em;
    }
  }

  .background {
    background-color: #3880FF;
  }
  