<ion-header>
  <ion-toolbar>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size-md="12" size-lg="6" offset-lg="3">
        <ion-card *ngFor='let request of requests; index as i' color="{{global.getColorClass(i)}}" box-shadow class="ion-text-start" padding-bottom [routerLink]="'/tabs/requests/'+request.routeUrl">
          <ion-card-header>
            <ion-card-title>
              {{request.imgText}}
            </ion-card-title>
            <ion-card-subtitle>
              {{request.title}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" color="{{global.getColorClass(i)}}">
              <ion-label slot="end"><span>&nbsp;</span>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>