.is-empty-state-content {
    width: 100%;
    text-align:center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20vh;
  
    img {
      width: 55%;
      max-width: 370px;
    }
}