ion-card{
    margin-bottom: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }
  
  [card-header-image] {
      position: relative;
    
      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
        mix-blend-mode: var(--cs-mode-image);
        background: var(--cs-gradient-linear);
        z-index: 5;
      }
    
      .img {
          height: 100px;
          width: 200px;
      }
    
      [title-card] {
        position: absolute;
        color: var(--cs-text-primary);
        left: 16px;
        bottom: 16px;
        z-index: 9;
        font-weight: bolder;
        font-size: 48px;
        opacity: 0.5;
        padding-right: 10px;
      }
    }
    
    ion-button {
      margin-inline-start: 16px !important;
    }

    .totalItems {
      display: inline-block;
      font-size: 200%;
      font-weight: bold;
      color: #a6b1bb;
    }

ion-note{
  color: white;
  font-size: 150%;
  font-weight: bold;
  padding: 0;
}

ion-card-title{
  font-size: 200%;
}

.is-empty-state-content {
  width: 100%;
  text-align:center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20vh;

  img {
    width: 55%;
    max-width: 370px;
  }
}