<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label style="color: white; margin-right: 10px"><b>&#x20b9; {{totalAmount}}</b></ion-label>
    </ion-buttons>
    <ion-title>SOR Claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #sorForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card mode="md">
            <ion-card-header>
              <ion-card-title mode="md">
                <ion-icon name="person"></ion-icon> Summary
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="7">
                  <ion-item>
                    <ion-input name="selectedEngineer" [(ngModel)]="engineerInfo.EMP_ENG_NAME" placeholder="Select Engineer *"
                      type="text" [disabled]="engineersList.length === 0" [readonly]="true" (click)="selectEngineer()">
                    </ion-input>
                    <ion-icon mode="md" slot="end" name="arrow-dropdown"></ion-icon>
                  </ion-item>
                </ion-col>
                <ion-col size="5">
                  <ion-item>
                    <ion-label>Date *</ion-label>
                    <ion-datetime name="createDate" required="true" [(ngModel)]="createDate"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title mode="md">
                <ion-icon name="attach"></ion-icon>Attachments
                <ion-label color="primary" style="float: right !important">
                  <ion-button color="danger" style="zoom: 0.5" shape="round" fill="outline" *ngIf="this.attachments.length > 0" (click)="this.attachments = []">
                    <ion-icon color="danger" name="close" ></ion-icon> Remove All</ion-button>
                </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="attachmentCard">
              <ion-row>
                <ion-col size="6">
                  <input id="fileUpload" type="file" (change)="onSelectFile($event)" multiple="multiple" hidden />
                  <ion-button (click)="chooseFiles()" size="small" shape="round" expand="full" fill="outline">Upload
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button size="small" shape="round" expand="full" fill="outline" (click)="onTakeImage()">Take A Photo</ion-button>
                </ion-col>
              </ion-row>
              <ion-list>
                <ion-item *ngFor="let file of attachments; index as i" [ngSwitch]="file.type">
                  <ion-icon *ngSwitchCase="'image/png'" name="image" color="primary"></ion-icon>
                  <ion-icon *ngSwitchCase="'text/plain'" name="text" color="primary"></ion-icon>
                  <ion-icon *ngSwitchCase="'text/html'" name="logo-html5" color="primary"></ion-icon>
                  <ion-icon *ngSwitchDefault name="link" color="primary"></ion-icon>
                  <ion-label>{{ file.name.substring(0, 10) }}... -
                    {{ getBytesConversion(file.size) }} <ion-icon color="danger" name="close" (click)="onRemoveAttachment(i)"></ion-icon></ion-label>
                </ion-item>
                <ion-item *ngFor="let file of images; index as i">
                    <ion-icon name="image" color="primary"></ion-icon>
                    <ion-label>{{ file.name.substring(0, 10) }}... -
                        {{ getBytesConversion(file.image.size) }} <ion-icon color="danger" name="close" (click)="onRemoveImage(i)"></ion-icon></ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Line Items
                <ion-label color="primary" style="float: right !important">
                  <ion-icon name="add-circle-outline" style="zoom: 1.1" (click)="addLineItem()"></ion-icon>
                </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="lineItemCard">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let lineItem of sorData.header; index as i">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <ion-label color="primary">Line Item {{ i + 1 }}</ion-label>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ion-item>
                    <ion-label color="primary" position="floating">Task Group *</ion-label>
                    <ion-input name="taskGroup{{i}}" [(ngModel)]="lineItem.TG_CODE" type="text" [readonly]="true"
                      required="true" (click)="selectTaskGroup(lineItem)">
                    </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">SOR *</ion-label>
                    <ion-input name="sor{{i}}" [(ngModel)]="lineItem.SOR" type="text" [readonly]="true" required="true"
                      (click)="selectSOR(lineItem)">
                    </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Completed Date *</ion-label>
                    <ion-datetime name="completeDate{{i}}" [readonly]="!lineItem.SOR" required="true" [(ngModel)]="lineItem.CMPL_DATE">
                    </ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Quantity *</ion-label>
                    <ion-input name="quantity{{i}}" required="true"
                      (ionChange)="changeOnUnit($event.target.value, lineItem)" [readonly]="!lineItem.SOR" type="number"
                      [(ngModel)]="lineItem.QUANTITY"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Unit</ion-label>
                    <ion-input name="unit{{i}}" [readonly]="true" [(ngModel)]="lineItem.UNIT"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Price</ion-label>
                    <ion-input name="price{{i}}" [readonly]="true" [(ngModel)]="lineItem.PRICE"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Amount</ion-label>
                    <ion-input name="amount{{i}}" (ionChange)="calculateTotal()" [readonly]="true" [(ngModel)]="lineItem.AMOUNT">
                    </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Remarks</ion-label>
                    <ion-textarea [maxlength]='100' name="remarks{{i}}" [(ngModel)]="lineItem.REMARKS"></ion-textarea>
                  </ion-item>
                  <br />
                  <div style="text-align: center">
                    <ion-icon name="trash" (click)="removeLineItem(i)" color="danger" style="zoom: 1.5"></ion-icon>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-button style="margin: 0 !important" *ngIf="sorData.header.length > 0" [disabled]="sorForm.invalid" expand="full" color="primary" (click)="submitData()">Submit</ion-button>
</ion-footer>