<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon (click)="openActionSheet()" style="zoom: 1.7" mode="md" name="more"></ion-icon>
    </ion-buttons>
    <ion-title>Invoice: {{requestData.requestId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item no-padding>
    <ion-label style="padding-left: 10px">Summary</ion-label>
  </ion-item>
  <h3 style="margin-left: 10px; color: #3880ff">Header Details</h3>
  <ion-grid class="shadowGrid">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Service Entry Number</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.SER_ET_NO"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Po Number</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.EBELN"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">P.order Item No</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.BSTPO"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Short Text of service entry</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.TXZ01"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Creator</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.ERNAM"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Created on</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.ERDAT)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Changed Person</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.AENAM"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Changed on</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.AEDAT)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Account Assigmnet Category</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.KNTTP"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Price Reference Date Of SE</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.LBLDT)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Person Responsibility Internally</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.SBNAMAG"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Person Responsibility Externally</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.SBNAMAN"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">External Number</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.LBLNE"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Service Loaction</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.DLORT"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">From Period</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.LZVON)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">To Period</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.LZBIS)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Document Date</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.BLDAT)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Posting Date</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.BUDAT)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Reference Number</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.XBLNR"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Doc Text</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.BKTXT"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Net Value of SE</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.NETWR"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Total Value of SE</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.LWERT"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Unplanned Portion</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.UWERT"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Portion with out Contract</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.UNPLV"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 style="margin-left: 10px; color: #3880ff">LineItems</h3>

  <ion-grid class="shadowGrid">
    <ion-row>
      <ion-col size="12">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-label color="primary"> {{lineItem.lineItems.LINE_NO}}</ion-label>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-item>
                <ion-label color="primary" position="floating">Line Number</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.LINE_NO"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Deletion Indicator</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.DEL"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Service Number</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.SRVPOS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Short Text </ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.KTEXT1"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Quantity</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MENGE"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Unit of entry</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MEINS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Gross Price</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.TBTWR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Currency</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.WAERS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Cost Center</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.KOSTL"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Service Type</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.LBNUM"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Edition of service</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.AUSGB"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Service Type</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.STLVPOS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Vendors Service Number</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.EXTSRVNO"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Planned p.order Line</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.PLN_EXTROW"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Net Value of Item</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.NETWR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Tax on sales</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MWSKZ"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Actual Quantity</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.ACT_MENGE"></ion-input>
              </ion-item>
            </ion-list>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="success" (click)="submit(requestData.activities[0])">
        <ion-icon name="checkmark"></ion-icon>&nbsp;Approve
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" color="danger" (click)="submit(requestData.activities[1])">
        <ion-icon name="close"></ion-icon>&nbsp;Reject
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>