<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon (click)="openActionSheet()" style="zoom: 1.7" mode="md" name="more"></ion-icon>
    </ion-buttons>
    <ion-title>Invoice: {{requestData.requestId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item no-padding>
    <ion-label style="padding-left: 10px">Summary</ion-label>
  </ion-item>
  <h3 style="margin-left: 10px; color: #3880ff">Header Details</h3>
  <ion-grid class="shadowGrid">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label color="primary" position="floating">Purchase Requisition Number</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.BANFN"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 style="margin-left: 10px; color: #3880ff">LineItems</h3>

  <ion-grid class="shadowGrid">
    <ion-row>
      <ion-col size="12">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-label color="primary"> {{lineItem.lineItems.LINE_NO}}</ion-label>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-item>
                <ion-label color="primary" position="floating">S.No</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.LINE_NO"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Material No.</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MATNR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Material Description</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MAKTX"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Quantity</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.ERFMG"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Unit Of Entry</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.ERFME"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Total Prie</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.PEINH"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Net Value</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.NETWR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Item Number</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.ITEM_NO"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Requisition Quantity</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MENGE"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Date</ion-label>
                <ion-input [readonly]="true" [value]="global.getPortalDate(lineItem.lineItems.BADAT)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Unrestiricted use stock</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.LABST"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Stock In Quality Inspection</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.INSME"></ion-input>
              </ion-item>
            </ion-list>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="success" (click)="submit(requestData.activities[0])">
        <ion-icon name="checkmark"></ion-icon>&nbsp;Approve
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" color="danger" (click)="submit(requestData.activities[1])">
        <ion-icon name="close"></ion-icon>&nbsp;Reject
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>