<ion-header>
  <ion-toolbar>
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="11" offset="1">
        <!-- Cards -->
        <ion-card padding *ngFor="let log of logs">

          <span span-small font-bold>{{global.getPortalDate(log.endDate)}}</span><br>
          <span font-bold>{{log.currAgent}}</span>
          <ion-item transparent no-padding margin-top lines="none">
            <ion-avatar slot="start">
              <img src="./../../../../../../assets/imgs/user.png">
            </ion-avatar>
            <ion-label>
              <h2 text-size-xs>{{log.actualUser}}</h2>
              <h3 text-size-sm>{{log.activityText}}</h3>
              <div clearfix></div>
            </ion-label>
          </ion-item>
          <ion-card-content no-padding>
            <p text-size-p text-wrap padding-top>{{log.comments}}</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="is-empty-state-content" *ngIf="logs.length == 0">
    <img src="assets/imgs/empty-tasks-4.png" />
    <h3>No Attachments</h3>
  </div>

</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" color="primary" (click)="modalController.dismiss()">Back</ion-button>
</ion-footer>