<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
      </ion-buttons>
      <ion-title>{{service.requestType}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div style="text-align: center">
      <ion-chip style="margin-top: 10px; zoom: 1.2; pointer-events: none;" color="primary" outline="true">
        <ion-icon name="cart" color="primary"></ion-icon>
        <ion-label>Invoices: {{requestData.RequestTotalCount}}</ion-label>
      </ion-chip>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let request of requestData.RequestList; index as i">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{request.sapDocId}}
                <ion-icon [routerLink]="['./', request.requestId]" color="tertiary" style="float: right !important" name="eye"></ion-icon>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label color="primary" position="fixed">Vendor</ion-label>
                  <ion-label>{{request.header.NAME1}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" position="fixed">Request ID</ion-label>
                  <ion-label>{{request.requestId}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>