<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-label style="color: white; margin-right: 10px"><b>&#x20b9; {{getTotalAmount(totalAmount)}}</b></ion-label>
    </ion-buttons>
    <ion-title>{{requestType}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #subForm="ngForm">
    <ion-card *ngIf="showInvoice">
      <ion-card-header>
        <ion-card-title mode="md">
          <ion-icon name="calendar"></ion-icon> Invoice Details
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Invoice Date*</ion-label>
          <ion-datetime name="invDate" [(ngModel)]="submissionData.INV_REF_DATE" required="true"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Invoice Number*</ion-label>
          <ion-input name="invDateRef" type="number" [(ngModel)]="submissionData.INV_REF" required="true"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title mode="md">
          <ion-icon name="list-box"></ion-icon> Comments
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Add Comments*</ion-label>
          <ion-textarea name="comments" [(ngModel)]="submissionData.description" required="true"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title mode="md">
          <ion-icon name="attach"></ion-icon> Attachments
          <ion-label color="primary" style="float: right !important">
            <ion-button color="danger" style="zoom: 0.5" shape="round" fill="outline"
              *ngIf="submissionData.attachments.length > 0" (click)="submissionData.attachments.length = 0">
              <ion-icon color="danger" name="close"></ion-icon> Remove All
            </ion-button>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <input id="fileUpload" type="file" (change)="onSelectFile($event)" multiple="multiple" hidden />
            <ion-button (click)="chooseFiles()" size="small" shape="round" expand="full" fill="outline">Upload
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" shape="round" expand="full" fill="outline" (click)="onTakeImage()">Take A Photo</ion-button>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-item *ngFor="let file of submissionData.attachments; index as i" [ngSwitch]="file.type">
            <ion-icon *ngSwitchCase="'image/png'" name="image" color="primary"></ion-icon>
            <ion-icon *ngSwitchCase="'text/plain'" name="text" color="primary"></ion-icon>
            <ion-icon *ngSwitchCase="'text/html'" name="logo-html5" color="primary"></ion-icon>
            <ion-icon *ngSwitchDefault name="link" color="primary"></ion-icon>
            <ion-label>{{ file.name }} -
              {{ getBytesConversion(file.size) }} <ion-icon color="danger" name="close" (click)="onRemoveAttachment(i)">
              </ion-icon>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>


</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="success" (click)="onSubmit()"
        [disabled]="subForm.invalid">Submit</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="primary" (click)="modalController.dismiss()">Back</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>