<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon (click)="openActionSheet()" style="zoom: 1.7" mode="md" name="more"></ion-icon>
    </ion-buttons>
    <ion-title>Invoice: {{requestData.requestId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item no-padding>
    <ion-label style="padding-left: 10px">Summary</ion-label>
  </ion-item>
  <h3 style="margin-left: 10px; color: #3880ff">Header Details</h3>
  <ion-grid class="shadowGrid">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Vendor</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.LIFNR"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Vendor Name</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.NAME1"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Purchase Org.</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.EKORG"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Company Code</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.BUKRS"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">PO Date</ion-label>
          <ion-input [readonly]="true" [value]="global.getPortalDate(requestData.header.BEDAT)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" position="floating">Purchase Group</ion-label>
          <ion-input [readonly]="true" [value]="requestData.header.EKGRP"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 style="margin-left: 10px; color: #3880ff">LineItems</h3>

  <ion-grid class="shadowGrid">
    <ion-row>
      <ion-col size="12">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-label color="primary"> {{lineItem.lineItems.LINE_NO}}</ion-label>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-item>
                <ion-label color="primary" position="floating">Line Number</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.LINE_NO"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Account Assignment Category</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.KNTTP"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Item Category</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.EPSTP"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Material Number</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MATNR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Short Text</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MAKTX"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">PO Quantity</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MENGE"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Unit Of Measurement</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MEINS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Delivery Date</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.EEIND"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Net Price</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.NETWR"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Currency</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.WAERS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Material Group</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.MATKL"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Plant</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.WERKS"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">Storage Location</ion-label>
                <ion-input [readonly]="true" [value]="lineItem.lineItems.LGORT"></ion-input>
              </ion-item>
            </ion-list>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="success" (click)="submit(requestData.activities[0])">
        <ion-icon name="checkmark"></ion-icon>&nbsp;Approve
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" color="danger" (click)="submit(requestData.activities[1])">
        <ion-icon name="close"></ion-icon>&nbsp;Reject
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>