<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modalController.dismiss()">
      <ion-icon name="arrow-back" style="zoom: 1.7"></ion-icon>
    </ion-buttons>
    <ion-title>Select A Task</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionClear)="applyFilter('')" (keyup)="applyFilter($event.target.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <table *ngIf="fieldType === 'taskGroup'" mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">

      
        <ng-container matColumnDef="TG_CODE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TaskGroup Code</th>
          <td mat-cell *matCellDef="let element"> {{element.TG_CODE}} </td>
        </ng-container>

        <ng-container matColumnDef="TG_DES">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TaskGroup Description</th>
          <td mat-cell *matCellDef="let element"> {{element.TG_DES}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getSelectedListItem(row)"></tr>
        
      </table>

      <table *ngIf="fieldType === 'sor'" mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">

      
          <ng-container matColumnDef="SOR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SOR</th>
            <td mat-cell *matCellDef="let element"> {{element.SOR}} </td>
          </ng-container>
  
          <ng-container matColumnDef="SOR_DES">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SOR Description</th>
            <td mat-cell *matCellDef="let element"> {{element.SOR_DES}} </td>
          </ng-container>

          <ng-container matColumnDef="UNIT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
            <td mat-cell *matCellDef="let element"> {{element.UNIT}} </td>
          </ng-container>

          <ng-container matColumnDef="PRICE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td mat-cell *matCellDef="let element"> {{element.PRICE}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getSelectedListItem(row)"></tr>
          
        </table>
</ion-content>
