<ion-tabs>
  <ion-tab-bar id="tabs" slot="bottom">
    <ion-tab-button tab="requests" *ngIf="externalUser">
      <ion-label>Requests</ion-label>
      <ion-icon name="paper"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="inbox">
      <ion-label>Inbox</ion-label>
      <ion-icon name="mail"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="outbox">
      <ion-label>Outbox</ion-label>
      <ion-icon name="mail-open"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-label>More</ion-label>
      <ion-icon mode="ios" name="more"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
