<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="arrow-back" style="zoom: 1.7" (click)="modalController.dismiss()"></ion-icon>
      </ion-buttons>
    <ion-title>Select Engineer</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionClear)="onCancel()" (keyup)="onSearch($event.target.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <div *ngFor="let engineer of displayList; index as i">
            <ion-item *ngIf="engineer.EMP_ENG" (click)="onSelectEngineer(engineer)">
              <ion-label>
                <h2 style="color: #0aa0ce">
                  <b>{{ engineer.EMP_ENG_NAME }}</b>
                </h2>
                <h3>Engg. ID: {{ engineer.EMP_ENG }}</h3>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
