<ion-header>
  <ion-toolbar>
    <ion-title>Preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe [src]="url" style="width: 100%; height: 100%"></iframe>
</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" color="primary" (click)="modalController.dismiss()">Back</ion-button>
</ion-footer>